{% extends 'ventas/base.html' %}

{% block title %}Articulo - Registrar Articulo{% endblock %}

{% block css %}
  {{ block.super }}
  {{ form.media.css }}
{% endblock %}

{% block content %}
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      {%comment%}
      {% include 'finance/messages.html' %}
      {%endcomment%}
      <div class="col-lg-9">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Registrar articulo</h5>
          </div>
          <div class="ibox-content">
            <form class="form-horizontal" method="post">
              {% csrf_token %}
              <p>Ingrese los datos solicitados:</p>
              {% for field in form %}
                <div class="form-group">
                  <label class="col-lg-2 control-label"
                         for="{{ field.id_for_label }}">{{ field.label }}:</label>
                  <div class="col-lg-10">
                    {{ field }}
                    {{ field.errors|safe }}
                  </div>
                </div>
              {% endfor %}
              <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                  <button class="btn btn-sm btn-primary m-t-n-xs"
                          type="submit"><strong>{{ submit }}</strong></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  {{ block.super }}
  {{ form.media.js }}
{% endblock %}