{% extends 'ventas/base.html' %}

{% block title %}Ventas - Registrar un Venta{% endblock %}
{% block navvent %}active{% endblock %}

{% block css %}
{{ block.super }}
{{ form.media.css }}
{{ detalle_inlineformset.media.css }}
{% endblock %}

{% block content %}
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <form role="form" method="post" class="form-horizontal">
      {% csrf_token %}
      {{ detalle_inlineformset.management_form }}
      <div class="col-lg-9">
        <!--<div class="tabs-container">-->
          <!--<div class="tab-content">-->
            <!--<div id="venta" class="tab-pane active">-->
              <!--<div class="panel-body">-->
                <div class="ibox float-e-margins">
                  <div class="ibox-title">
                    <h5>Registrar Venta</h5>
                  </div>
                  <div class="ibox-content">
                    <p>Ingrese los datos solicitados:</p>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="col-lg-5 control-label" for="{{ form.numerofactura.id_for_label }}">
                          {{ form.numerofactura.label }}:
                        </label>
                        <div class="col-lg-7">
                          {{ form.numerofactura }}
                          {{ form.numerofactura.errors|safe }}
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label class="col-lg-4 control-label" for="{{ form.fecha.id_for_label }}">
                          {{ form.fecha.label }}:
                        </label>
                        <div class="col-lg-8">
                          {{ form.fecha }}
                          {{ form.fecha.errors|safe }}
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label class="col-lg-4 control-label" for="{{ form.hora.id_for_label }}">
                          {{ form.hora.label }}:
                        </label>
                        <div class="col-lg-8">
                          {{ form.hora }}
                          {{ form.hora.errors|safe }}
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-lg-2 control-label" for="{{ form.idcliente.id_for_label }}">
                        {{ form.idcliente.label }}:
                      </label>
                      <div class="col-lg-10">
                        {{ form.idcliente }}
                        {{ form.idcliente.errors|safe }}
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="col-lg-4 control-label" for="{{ form.totalarticulos.id_for_label }}">
                          {{ form.totalarticulos.label }}:
                        </label>
                        <div class="col-lg-8">
                          {{ form.totalarticulos }}
                          {{ form.totalarticulos.errors|safe }}
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="col-lg-4 control-label" for="{{ form.totalfactura.id_for_label }}">
                          {{ form.totalfactura.label }}:
                        </label>
                        <div class="col-lg-8">
                          {{ form.totalfactura }}
                          {{ form.totalfactura.errors|safe }}
                        </div>
                      </div>
                    </div>
                    <div class="row"></div>
                    <div id="id_inline_detalle">
                      <p>Registre los detalles:</p>
                      <p>
                        <a href="#" onclick="addDetail(event)">Agregar otro
                          detalle</a>
                      </p>
                      {{ detalle_inlineformset.non_form_errors|safe }}
                      {% for form in detalle_inlineformset %}
                      {% include 'ventas/detalle/_form.html' with num=forloop.counter0%}
                      {% endfor %}
                    </div>
                  </div>
                </div>
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      </div>
      <div class="col-sm-3">
        <div class="ibox" style="margin-top: 50px;">
          <div class="ibox-content">
            <button class="btn btn-primary btn-block" type="submit">
              <strong>{{ submit }}</strong></button>
            <a href="{% url 'ventas:venta-list' %}"
               class="btn btn-white btn-block"><strong>Cancelar</strong></a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block js %}
{{ block.super }}
{{ form.media.js }}
{{ detalle_inlineformset.media.js }}
<script type="template/detalle">
  {% include 'ventas/detalle/_form.html' with form=detalle_inlineformset.empty_form num='__prefix__'%}
</script>
{% endblock %}
