{% extends 'ventas/base.html' %}

{% block title %}Ventas - Lista{% endblock %}
{% block content %}
<div class="wrapper wrapper-content  animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Lista de Ventas</h5>
          <div class="ibox-tools">
            <a href="{% url 'ventas:venta-create' %}"
               class="btn btn-primary btn-xs">Registrar una venta</a>
          </div>
        </div>
        <div class="ibox-content">
          <div class="m-b-lg">
            <div class="m-t-md">
              <strong>Encontrado{{ paginator.count|pluralize }}
                {{ paginator.count }}
                venta{{ paginator.count|pluralize }}</strong>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-hover issue-tracker">
              <thead>
              <tr>
                <th>Número de Factura</th>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Total</th>
                <th class="text-right">Acciones</th>
              </tr>
              </thead>
              <tbody>
              {% for object in object_list %}
              <tr>
                <td>
                  <a href="{% url 'ventas:venta-detail' object.pk %}">
                    {{ object.numerofactura }}
                  </a>
                </td>
                <td>
                  <p class="small">
                    {{ object.fecha|date }}
                  </p>
                </td>
                <td>
                  {{ object.idcliente }}
                </td>
                <td>{{ object.totalfactura }}</td>
                <td class="text-right">
                  <a href="{% url 'ventas:venta-update' object.pk %}"
                     class="btn btn-white btn-sm"><i
                      class="fa fa-pencil"></i> Editar </a>
                  <a href="{% url 'ventas:venta-delete' object.pk %}"
                     class="btn btn-white btn-sm" data-toggle="modal"
                     data-target="#modal"><i class="fa fa-trash"></i>
                    Eliminar </a>
                </td>
              </tr>
              {% empty %}
              <tr>
                <td><p>Sin ventas encontradas.</p></td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
            {% include 'ventas/paginate.html' %}
          </div>
        </div>
      </div>
      {% include 'ventas/modal.html' %}
    </div>
  </div>
</div>
{% endblock %}